<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
        <script src="familyhist0.js"></script>    
    </head>
    <body ng-app="namesToDo" ng-controller="MainCtrl">
        <div>
            {{test}}
        </div>
        <form ng-submit="addName()">
            Name<input type="text" ng-model="formContent"></input>Father<input type="text"
            ng-model="fathercontent"></input>Mother<input type="text" ng-model="mothercontent"></input>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>